{% extends 'base.html.twig' %}

{% block body %}
<div class="registerform">
        <h1>Vendre un produit</h1>

        {{ form_start(sellingform) }}
        {{ form_row(sellingform.category,{
            label: 'Catégorie '
        }) }}
        {{ form_row(sellingform.title,{
            label: 'Titre '
        }) }}
        {{ form_row(sellingform.description,{
            label: 'Description '
        }) }}
        {{ form_row(sellingform.color,{
            label: 'Couleur '
        }) }}
        {{ form_row(sellingform.condition_product,{
            label: 'Etat du produit '
        }) }}
        {{ form_row(sellingform.price,{
            label: 'Prix '
        }) }}
        {{ form_row(sellingform.imagefile,{
            label: 'Image '
        }) }}
        {{ form_row(sellingform.users,{
            label: 'Utilisateur '
        }) }}
        <button type="submit">Vendre</button>
        {{ form_end(sellingform) }}
</div>
{% endblock %}

