{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="shortcut icon" href="{{asset('img/favicon.png')}}">
{% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
     <div class="contact__form">
         <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
             <div class="row">
                     <label for="inputEmail">Email</label>
                     <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                     <label for="inputPassword">Password</label>
                     <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                     <button class="site-btn" type="submit">
                        Se Connecter
                    </button>
             </div>
             <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">
         </form>
     </div>
 </div>
</div>
{% endblock %}
