{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="registerform">
    <form class="register-form">
        <h1>Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name,{
                label: 'Nom'
            }) }}
            {{ form_row(registrationForm.username,{
                label: 'Nom Utilisateur'
            }) }}
            {{ form_row(registrationForm.email,{
                label: 'Adresse Mail'
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Accepter les Termes '
            }) }}

            <button type="submit" class="site-btn">S'incrire</button>
        {{ form_end(registrationForm) }}
    </form>
</div>
{% endblock %}

{# <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Message"></textarea>
                                    <button type="submit" class="site-btn">Send Message</button>
                                </div>
                            </div>
                        </form> #}